body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.pics, .details {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pics {
    background-color: #f0f8ff;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.toggle-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.toggle-buttons button:hover {
    background-color: #0056b3;
}

.details {
    background-color: #ffffff;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
}

.details h2 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
    text-align: center;
}

.details span {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 12px;
    line-height: 1.6;
}

.details span strong {
    color: #333;
    font-weight: bold;
}

.links {
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.links div {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.links div span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #007bff;
}

.links div a {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.links div a:hover {
    text-decoration: underline;
}
